#PBS -N ifs_merge.yyyy
#PBS -q nf
#PBS -l EC_total_tasks=1
#PBS -l EC_hyperthreads=2
#PBS -l EC_memory_per_task=12gb
#PBS -j oe
#PBS -o ifs_merge.out.yyyy     
# Load the cray-snplauncher module to add the mpiexec command to $PATH
module load cray-snplauncher
cd $PBS_O_WORKDIR

# execute
mpiexec -n 1 ${PERM}/crescendo/crescendo_ifs_year.sh idid yyyy





