#PBS -N ifs_pp.yyyy
#PBS -q nf
#PBS -l EC_total_tasks=12
#PBS -l EC_hyperthreads=2
#PBS -l EC_memory_per_task=1gb
#PBS -j oe
#PBS -o pp.out.yyyy
     
# Load the cray-snplauncher module to add the mpiexec command to $PATH
module load cray-snplauncher
cd $PBS_O_WORKDIR
# execute
mpiexec -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 1 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 2 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 3 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 4 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 5 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 6 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 7 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 8 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 9 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 10 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 11 yyyy : -n 1 /perm/ms/nl/nktb/crescendo/crescendo_ifs.sh idid 12 yyyy
#submit next phase

qsub pp_ifs+tm5_merge_copy.yyyy.job



